---
import "../components/GlobalStyles.astro";

import { ColorsEnum } from "../constants/colors";

import Menu          from "../components/Menu.astro"
import ContactButton from "../components/ContactButton.astro";

interface Props
{
	title         : string;
    openMenuColor : ColorsEnum;
    closeMenuColor: ColorsEnum;
    sectionTitle ?: string;
    bodyBackground: ColorsEnum;
}

const { title, openMenuColor, closeMenuColor, sectionTitle, bodyBackground } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Discover Antonio Acuña's journey as a Full Stack Developer, his projects, and experience in the software industry." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="og:image" content="/preview.png">
        <meta name="og:description" content="/preview.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body style={`bg-color: ${bodyBackground}`}>
        <Menu openMenuColor={openMenuColor} closeMenuColor={closeMenuColor} sectionTitle={sectionTitle}/>
		<slot />
        <ContactButton text="Contact" href="/contact">
	</body>
</html>

<script>
    function setFullHeight ()
    {
        const vh: number = window.innerHeight * 0.01;

        document.documentElement.style.setProperty('--vh', `${vh}px`);
    }

    window.addEventListener('resize', setFullHeight);
    window.addEventListener('orientationchange', setFullHeight);

    setFullHeight();
</script>

